<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}"/>
    <p><b><i><Font size="20"> Welcome to</Font></i></b></p>
    <p><b><i><Font size="20"> Blog Era</Font></i></b></p>
</head>
<body id="second">
<div>
    </br></br></br></br></br>
</div>
<div>
    <table width="30%">
        <tr>
            <td align="center"><p>Already a User <button type="button"><a href="/login">Login</a></button></p></td>
        </tr>
        <tr>
            <td align="center"><p>New Users <button type="button"><a href="/signup">Sign up</a></button></p></td>
        </tr>
    </table>
</div>

</body>
</html>